* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main"
    ;
}

header {
    background: salmon;
    grid-area: header;
}

.sidebar {
    background: blanchedalmond;
    grid-area: sidebar;
}

ul {
    margin: 0 0 0 32px;
    line-height: 1.5
}

li {
    list-style-image: url('http://upload.wikimedia.org/wikipedia/commons/1/19/Icons-mini-icon_attachment.gif');
}

.main-content {
    background: skyblue;
    grid-area: main;
}