* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main"
    ;
    background: #FECD45;
}

header {
    grid-area: header;
    display: grid;
}

.top-row {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.bot-row {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.bot-row button {
    background: #2568FB;
}

.alerts, .profile{
    display: flex;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 20%;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
}

.main-links, .second-links {
    display: grid;
}

.main-links {
    align-content: space-between;
}

.main-links li, .second-links li {
    font-size: 20px;
    line-height: 2.5rem;
}

.title {
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ul {
    margin: 0 0 0 32px;
    line-height: 3rem;
    list-style-type: none;
}

.title ul {
    display: grid;
    justify-content: center;
    align-items: center;
}

ul img {
    padding: 0rem 0.5rem 0rem 0.5rem;
}

ul #icon-dog {
    position: relative;
    top: 5px;
    left: 5px;
}

#icon-dog img {
    height: 100%;
    width: auto;
}

.second-links {
    align-items: baseline;
}

.main-content {
    grid-area: main;
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.cards {
    display: grid;
    grid-template-rows: 1fr 19fr;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.card {
    border: 1px solid black;
}

.right-sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements, .trending {
    display: grid;
    grid-template-rows: 1fr 9fr
}

.announcement p {
    font-size: 0.75rem;
}

.announce-card-container, .trending-card-container {
    display: grid;
    height: 80%;
    width: 16rem;
    border: 1px solid black;
}

.announce-card {
    display: grid;
}

.trending-card {
    display: grid;
    grid-template-columns: 1fr 4fr;
}