* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main"
    ;
}

header {
    background: salmon;
    grid-area: header;
    display: grid;
}

.top-row {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.bot-row {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.alerts, .profile{
    display: flex;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 20%;
    background-color: grey;
}

.sidebar {
    background: blanchedalmond;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
}

.title {
    font-size: 1.75rem;
}

.main-links, .second-links {
    display: grid;
}

.main-links {
    align-content: space-between;
}

.main-links li, .second-links li {
    font-size: 20px;
    line-height: 2.5rem;
}

ul {
    margin: 0 0 0 32px;
    line-height: 1.5rem;
}

li {
    list-style-image: url('http://upload.wikimedia.org/wikipedia/commons/1/19/Icons-mini-icon_attachment.gif');
}

.main-content {
    background: skyblue;
    grid-area: main;
}